.name {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}
.title {
    color: var(--dark);
    font-weight: bold;
    font-size: 13px;
    margin: 0 0 20px 0;
}
.parent {
    width: 100%;
    margin-bottom: 20px;
}
.user-profile {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-profile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-profile figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user-profile figure figcaption {
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}
.vs {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #3D4280;
}
.btn-parent {
    width: 65%;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.btn-parent>div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.dark {
    padding: 13px 20px;
    background-color: var(--dark);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}
@media screen and (max-width:1024px){
    .dark {
        font-size: 11px !important;
    }
    .warning{
        font-size: 11px !important;
    }
    .btn-parent{
        position: static;
        width: 100%;
        left: 0;
        transform: translateX(0);
    }
    .position-relatve{
        left: 0 !important;
    }
}
.light {
    padding: 13px 20px;
    background-color: var(--active);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.item{
    margin-bottom: 45px !important;
}
.btn-parent.w-90{
    width: 95% !important;
}
.position-relatve{
    position: relative;
    left: 50%;
    bottom: auto !important;

}
.justify-content-between{
    justify-content: space-between;
    align-items: center;
}
.select-menu {
    width: 110px;
}

.select-menu .select-btn {
    display: flex;
    background: transparent;
    padding: 8px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #7983FF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #7983FF;
}

.select-menu .options {
    position: absolute;
    width: 110px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    justify-content: flex-start;
    margin-left: 0;

}

.select-menu .options .option:hover {
    background: #f2f2f2;
}

.select-menu .options .option i {
    font-size: 25px;
    margin-right: 12px;
}

.select-menu .options .option .option-text {
    font-size: 12px;
    color: var(--dark);
}

.select-btn i {
    font-size: 14px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

.white_svg
{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}
.black_svg
{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    padding: 10%;
}
