@import url(./global.css);


.user-info-parent {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.user-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.user-profile-info {
    width: 100%;
    display: flex;
    align-items: center;
}

.user-profile-info img {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.user-name {
    margin-left: 15px;
}

.user-name h2 {
    font-size: 16px;
    font-weight: bold;
}

.level {
    width: 71px;
    height: 24px;
    background-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-top: 13px;
    padding-left: 5px;
}

.level p {
    color: var(--dark);
    font-size: 12px;
}

.level span {
    width: 24px;
    height: 24px;
    background-color: var(--active);
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

.number {
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.number div p {
    font-size: 12px;
    font-weight: 400;
}

.number div span {
    display: inline-block;
    margin: 6px 0;
    font-size: 12px;
    font-weight: 400;
}

.conection-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.conection {
    width: 13px;
    height: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: var(--border);
}

.conection.active {
    background-color: var(--active);
}

.conection-parent span {
    font-size: 12px;
    margin: 3px 0;
    display: inline-block;
}

.user-count {
    width: 20%;
    height: 240px;
    background-color: #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
@media screen and (min-width:1000px) {
    .user-count{
        width: 8%;
        height: 250px;
    }
}
.count-box {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.count-box img {
    width: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.count-box span {
    display: inline-flex;
    padding: 3px 6px;
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: -13px;
}

.Achievements {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 250px;
    display: none;

}

.Achievements-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Achievements-parent h3 {
    color: #3D4280;
    font-size: 14px;
    font-weight: 500;
}

.Achievements-items {
    margin: 20px 0;
    width: 100%;
}

.Achievements-items>div {
    width: 100%;
    border: 1px solid #DEE0FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding-right: 10px;
    margin: 8px 0;
    height: 36px;
    overflow: hidden;
    justify-content: space-between;
}

.Achievements-items>div img {
    width: 20px;
}

.Achievements-details {
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    -ms-border-radius: 0px 6px 6px 0px;
    -o-border-radius: 0px 6px 6px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
    height: 100%;
    color: #fff;
    font-size: 12px;
}

.Achievements-more-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Achievements-more-btn button {
    display: flex;
    align-items: center;
    color: #7983FF;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.Achievements-more-btn button img {
    width: 20px;
    display: inline-block;
    margin-left: 5px;
}

.Team {
    width: 23%;
    padding: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 250px;
    display: none;

}

.team-items {
    width: 100%;
}

.team-tem {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-tem>div {
    display: flex;
    align-items: center;
}

.mark {
    width: 30px;
    height: 44px;
    background: #B388EB;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mark img {
    width: 20px;
}

.team-detals {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.team-detals h4 {
    font-weight: 500;
    font-size: 12px;
}

.team-detals p {
    font-weight: normal;
    font-size: 10px;
}

.point {
    display: flex;
    align-items: center;
}

.point img {
    width: 20px;
}

.point span {
    font-size: 12px;
    font-weight: normal;
    margin-left: 6px;
}

.quick-access {
    width: 18%;
    padding: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 250px;
    display: none;
}

.quick-item-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.quick-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-item div {
    width: 50px;
    height: 50px;
    border: 1px solid #DEE0FF;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.quick-item img{
    width: 20px;
}
.quick-item span{
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    display: inline-block;
}
@media screen and (min-width:1000px) {
    .user-info {
        width: 35%;
        height: 250px;
    }

    .quick-access,.Team,.Achievements{
        display: block;
    }
}

.heading a {
    color: var(--active);
    font-weight: 500;
    font-size: 13px;
}

.item-list {
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-y: visible;
    overflow-x: auto;

}
.item-list{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.item-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
@media screen and (min-width:1024px) {
    .item-list{
        display: flex;
        align-items: center;
        /* flex-wrap: wrap; */
        /* justify-content: space-between; */
    }
    /* .item-list> .item{
        flex: 1;
    } */
    .item-list::-webkit-scrollbar { 
        width: 0 !important 
    }
}
.section>.container:last-of-type {
    padding: 0;
}
.profile>.container{
    padding: 0 20px !important;
}

@media screen and (min-width:1000px) {
    .item-list {
        margin: 20px 0;
    }
    .section>.container:last-of-type {
        padding: 0 10px 0 80px;
    }
    .profile>.container{
        padding: 0 20px 0 80px !important;
    }


}
@media screen and (min-width:1500px){
    .section>.container:last-of-type {
        padding: 0 10px 0 80px;
    }
    .profile>.container{
        padding: 0 20px 0 80px !important;
    }

}

.section {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
}

.item {
    margin-left: 20px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}

@media screen and (min-width:1000px){

    .item {
        margin-left: 0;
        margin-right: 20px;
    }

}

.course-item img {
    height: 100%;
    object-fit: cover;
}

.course-details {
    width: 310px;

    margin-left: 10px;
}

.category {
    color: #3D4280;
    font-size: 12px;
}

.title {
    color: var(--dark);
    font-weight: bold;
    font-size: 13px;
    margin: 0 0 20px 0;
}

.lesson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lesson p {
    font-size: 12px;
    color: var(--dark);
}

.lesson span {
    width: 47px;
    height: 22px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--border);
    color: #3D4280;
    font-size: 12px;
}

.progress {
    width: 100%;
    height: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    background-color: var(--border);
}

.bar {
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--active);
    position: relative;
}

.persentage {
    position: absolute;
    /* left: 34%; */
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #fff;
    font-size: 12px;
}

.progerss-persentage {
    margin: 10px 0;
}

.challange-detaila {
    width: 320px;
    display: flex;
    align-content: center;
}

.column {
    flex-direction: column;
}

.chalange-name {
    margin-left: 15px;
}

.chalange-name .title {
    margin: 0;
}

.chalange-name span {
    font-size: 10px;
}

.tags {
    margin: 10px 0 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tags span {
    border: 1px solid var(--border);
    padding: 6px 12px;
    color: var(--dark);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: inline-block;
    margin: 7px;
    font-size: 12px;
    font-weight: 400;
}

.offer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.off-time {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--active);
    color: var(--active);
    display: flex;
    font-size: 12px;
}

.off-time img {
    width: 20px;
    margin-right: 10px;
}

.gift {
    display: flex;
    align-items: center;
}

.gift img {
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.gift span {
    font-size: 10px;
}

.gift strong {
    font-size: 15px;
}

.name {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}

.parent {
    width: 100%;
    margin-bottom: 20px;
}

.user-profile {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-profile figure figcaption {
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}

.vs {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #3D4280;
}

.btn-parent {
    width: 65%;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.btn-parent>div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.dark {
    padding: 13px 20px;
    background-color: var(--dark);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.light {
    padding: 13px 20px;
    background-color: var(--active);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.warning {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.warning img {
    width: 20px;
}

.warning p {
    font-size: 11px;
    margin-left: 7px;
}

.count {
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 34px;
    height: 34px;
    padding: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.justify-content-between {
    justify-content: space-between;
}

.Weekly {
    display: flex;
    align-items: center;
}

.images {
    display: flex;
    align-items: center;
}

.arrow {
    width: 20px;
    margin-right: 6px;
}

.coin {
    width: 35px;
}

.dark img {
    width: 17px;
    display: inline-block;
    margin-right: 6px;
}

.bg-light {
    background-color: var(--border);
}

.w-auto {
    width: auto !important;
}

.name p img {
    width: 15px;
    display: inline-block;
    margin-right: 3px;
}

#Competition .item-list {
    height: 220px;
}
#Super-league .item-list {
    height: 370px;
}
@media screen and (min-width:1024px){
    #Competition .item-list {
        height: 240px;
    }
    #Super-league .item-list {
        height: 400px;
    }
     
}

.name p {
    font-size: 12px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

/* .column .title {
    margin: 10px 0;
} */

.column>img {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
}

.user-avatar figure {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 64px;
    height: 76px;
    padding-top: 7px;
}

.user-avatar figure img {
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 35px;
    height: 35px;
}

.user-avatar figure figcaption {
    font-size: 13px;
    margin: 7px 0;
}

.count-parent {
    width: 92%;
    margin: 10px auto;
    text-align: right;
}

.edit-details {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.edit {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid var(--active);
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.edit img {
    width: 15px;
}


.m-1 {
    margin: 10px 0;
}

.img {
    max-width: none;
    width: 70px;
    height: auto;
    object-fit: cover;
}

.course-details-section {
    display: flex;
    align-items: flex-start;
}

.course-details-section div {
    margin-left: 10px;
}
.challange-detaila img{
    max-width: none;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.seen{
    border-radius: 8px;
    border: 1px solid #7983FF;
    color: #7983FF;
    display: flex;
    flex-direction: column;
    padding:5px 10px;
}
.seen span{
    font-weight: bold;
    font-size: 11px;
}
.seen p{
    font-size: 10px;
    font-weight: normal;
}
.bg-white{
    background-color: #fff !important;
}
.bg-white .images,.bg-white .count-parent,.bg-white .edit,.opacity-0{
    opacity: 0;
}
.t-3{
    transform: translateY(30px);
}
.white_svg
{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}
.black_svg
{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    padding: 10%;
}
