/* reset */
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "popincs";
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "popincs";
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: normal;
}
/* @font-face {
    font-family: "popincs";
    src: url(../fonts/Poppins-SemiBold.ttf);
} */
@font-face {
    font-family: "popincs";
    src: url(../fonts/Poppins-Thin.ttf);
    font-weight: 100;
}

:root {
    --border: #DEE0FF;
    --badge: #B388EB;
    --placeholder: #BCC1FF;
    --active: #7983FF;
    --dark: #252525;
    --primary:#3D4280;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: #F7F8FF;
    padding: 40px 0;
    font-family: "popincs";
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
ul{
    list-style-type: none;
}
.btn{
    background-color: transparent;
    border: none;
}
input{
    border: none;
}

header {
    width: 100%;
}

.container {
    width: 100%;
    padding: 0 20px;
}
@media screen and (min-width:1000px) and (max-width:1500px){
    .container {
        padding: 0 100px;
    }

}
@media screen and (min-width:1500px){
    .container {
        padding: 0 100px;
    }

}

.wrapper,.header-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex{
    display: none;
}

@media screen and (min-width:1000px){
    .header-items{
        width: 30%;
    }
    .flex{
        width: 60%;
        display: flex;
        align-items: center;    
    }

}
.nav{
    margin-left: 50px;
    width: 70%;
}
.navigation-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navigation-list li{
    margin: 0 15px;
}
.navigation-list li.active a span,.navigation-list li:hover a span{
    color: #7983FF;
}
.navigation-list li a{
    display: flex;
    align-items: center;
}
.navigation-list li img{
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}
.search-box-parent {
    width: 270px;
    height: 40px;
}

.search-box {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box input {
    width: 80%;
    margin-left: 10px;
    background-color: transparent;
}

.search-box input::placeholder {
    color: var(--placeholder);
    font-size: 12px;
}

.search-box button img {
    width: 17px;
}

.notification-btns {
    display: flex;
}

.notification-btns button {
    position: relative;
}

.notification-btns button:first-child {
    margin-right: 20px;
}

.notification-btns button img {
    width: 20px;
}

.badge {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--badge);
    top: -1px;
    right: -2px;
}

nav {
    position: fixed;
    width: 100%;
    height: 110px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px -2px 20px -11px rgba(121, 131, 255, 0.3);
}
@media screen and (min-width:1000px){
    nav{
        display: none;
    }
}
nav div {
    width: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    width: 62px;
    height: 62px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li.active,
nav ul li:hover {
    width: 62px;
    height: 62px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: var(--active);
}

section {
    margin: 30px 0;
    width: 100%;
}
@media screen and (min-width:1200px){
    section{
        margin: 50px 0;
    }
}

.heading {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width:1000px){
    .heading{
        margin-bottom: 10px;
    }
}

.heading h2 {
    font-size: 18px;
    font-weight: bold;
}
.space {
    padding: 40px;
}
.tab-container {
    width: 100%;
}

.tab {
    width: 100%;
}

.tab ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.tab ul li {
    font-size: 11px;
    color: var(--dark);
    padding: 8px 8px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: transparent;
}
.tab ul li.active a{
    color: var(--dark);
    padding: 8px 16px !important;

}

.tab ul li.active {
    background-color: var(--primary);
    color: #fff;
}
.tab ul li.active a{
    font-size: 11px;
    color: #fff;
}
@media screen and (min-width:1000px){
    .tab ul li {
        font-size: 14px;
        padding: 16px 24px;
        width: 25%;
        text-align: center;
    }
    .tab ul li.active a{
        font-size: 14px;
    }
    
}
.category-content {
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
    height: 62px;
}
.category {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    height: 50px;
    width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.category.active {
    opacity: 1;
    visibility: visible;
}

.category ul {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.category ul li {
    width: 31% !important;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--border);
    color: var(--dark);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category ul li a{
    color: var(--dark);
}
.category ul li.active {
    background-color: #BCC1FF;
    height: 65px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.category ul li.active a{
    font-size: 12px;
    color: var(--dark);
}
.category ul li img{
    display: none;
}
@media screen and (min-width:1000px){
    .category ul li{
        width: 32%;
    }
    .category ul li,.category ul li.active a {
        font-size: 14px;
    }
    .category ul li img{
        display: inline-block;
        margin-right: 20px;
    }
    
}
.course-name-content {
    width: 100%;
    position: relative;
    height: 64px;
    left: 0;
    overflow-x: hidden;
}
.course-name-tab {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    height: 64px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    width: 100%;
}

.course-name-tab.active {
    opacity: 1;
    visibility: visible;
}

.course-name-tab ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #BCC1FF;
    height: 64px;
    border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;
}

.course-name-tab ul li {
    font-size: 12px;
    color: var(--dark);
    width: auto;
    padding: 0 6px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:1000px){
    .course-name-tab ul li {

        width: 100px;
    }
}
.course-name-tab ul li.active {
    color: #fff;
    background-color: var(--active);
}

.courses {
    position: relative;
    width: 100%;
    margin: 20px 0;
    height: 30px;
}

.course-conetnt {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.course-conetnt.active {
    opacity: 1;
    visibility: visible;
}

.course-conetnt ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.course-conetnt ul li {
    padding-bottom: 5px;
    font-size: 16px;
    color: var(--active);
    border-bottom: 1px solid transparent;
}

.course-conetnt ul li:last-child {
    margin-left: 20px;
}

.course-conetnt ul li.active {
    color: var(--active);
    font-weight: bold;
    border-bottom-color: var(--active);
}

.main-content{
    overflow-y: hidden;
    width: 100%;
}
.content-course{
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.top-heading {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 0 30px 0;
}

.back {
    width: 43px;
    height: 43px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #7983FF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.back img {
    width: 20px;
}

.title {
    font-size: 16px;
}
.modal-parent{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #252525b1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    overflow: hidden;
}
.modal-parent.active{
    opacity: 1;
    visibility: visible;
}
.modal{
    width: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #F7F8FF;
    padding: 20px;
}
@media screen and (min-width:1000px){
    .modal{
        width: 40%;
    }
}
.modal-heading{
    margin: 16px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-heading h1{
    font-size: 16px;
    font-weight: bold;
    color: var(--dark);
}
.close-modal img{
    width: 20px;
}
.alert{
    width: 100%;
    display: flex;
    align-items: center;
}
.alert img{
    width: 15px;
}
.alert p{
    font-size: 12px;
    font-weight: normal;
    color: var(--dark);
    margin-left: 6px;
}
.modal-btns{
    margin: 25px 0 0 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.modal-btns button{
    padding: 13px 20px;
    background-color: var(--dark);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.modal-btns button:first-child{
    margin-right: 10px;
}
.flex-end {
    align-items: flex-end;
}
.p-0 {
    padding: 0;
}
.payment-details{
    width: 100%;
    margin: 24px 0;
}
.payment-details img{
    width: 100%;
}
.payment-info{
    margin: 16px 0;
}
.payment-info h2{
    font-size: 16px;
    color: var(--dark);
    font-weight: bold;
    margin-bottom: 8px;
}
.payment{
    margin: 30px 0;
}
.payment h3{
    font-size: 16px;
    color: var(--dark);
    font-weight: bold;
}

.payment-table{
    margin: 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border);
}
.payment ul{
    display: flex;
    flex-direction: column;
}
.payment ul li{
    margin: 8px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.payment ul li p,.payment ul li span{
    font-size: 12px;
    font-weight: normal;
    color: var(--dark);
}
.payment ul li span strong{
    font-size: 16px;
    font-weight: bold;
}
.payment-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment-btn button{
    padding: 16px 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}
.lesson-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 50px 0;

}

.lesson-info div {
    display: flex;
    align-items: center;
}
.lesson-info div:not(:first-child){
    margin-left: 20px;
}
.lesson-info div span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: var(--border);
    color: var(--active);
}

.lesson-info div p {
    font-size: 12px;
    margin-left: 3px;
}
#free{
    background-color: var(--dark);
    color: #fff;
}
#Spend{
    border: 1px solid var(--dark);
    color: var(--dark);
}
.parents {
    display: flex;
}

.sidebar {
    display: none;
}

@media only screen and (min-width:1024px) {
    body {
        padding: 0;
    }

    .parents {
        display: flex;
    }

    .sidebar {
        display: block;
        width: 400px;
        height: 100vh;
        background-color: #7983FF;
        overflow: hidden;
        position: relative;
    }

    .inner-side {
        position: fixed;
        left: 0;
        top: 0;
        width: 400px;
        height: 100%;
        background-color: #7983FF;
        overflow: hidden;
        padding: 50px 70px;
    }

    .main-content {
        overflow-y: scroll;
        padding: 30px;
    }

    .main-content::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .main-content {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .navigation {
        width: 100%;
        margin-top: 50px;
        height: 100%;
    }

    .navigation ul {
        height: 100%;
    }

    .navigation ul li {
        margin: 40px 0;
    }

    .navigation ul li a {
        display: flex;
        align-items: center;
        color: #3c3a3a;
    }
    .navigation ul li.active a {
        color: #fff;
    }
    .navigation ul li a img {
        margin-right: 8px;
    }

    .side-bar-profile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .side-bar-profile>div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .side-bar-profile img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
    }

    .side-bar-profile .user-name h2 {
        font-size: 16px;
    }

    .side-bar-profile .user-name {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .level {
        width: 71px;
        height: 24px;
        background-color: var(--border);
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-top: 13px;
        padding-left: 5px;
    }

    .level p {
        color: var(--dark);
        font-size: 12px;
    }

    .level span {
        width: 24px;
        height: 24px;
        background-color: var(--dark);
        border-radius: 0 6px 6px 0;
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        -ms-border-radius: 0 6px 6px 0;
        -o-border-radius: 0 6px 6px 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 12px;
    }
    .search-box-parent{
        margin-right: 20px;
        width: 370px;
    }
    .header-items {
        width: 50%;
    }
    .flex{
        width: 50%;
    }
    .add-question {
        bottom: 30px !important;
    }
}