.flowes-list {
    width: 100%;
}

.flowes-list ul,
.Transaction-list {
    width: 100%;
}

.flowes-list ul li {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #ffff;
    margin: 10px 0;
}

.flowes-list ul li>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow {
    width: 85px;
    height: 43px;
    display: flex;
    background: #252525;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 12px;
}

.unfollow {
    width: 85px;
    height: 43px;
    display: flex;
    border: 1px solid #252525;
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: #252525;
    font-size: 12px;
}

.follower-info {
    display: flex;
    align-items: center;
}

.follower-info img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    object-fit: cover;
}

.follower-info div {
    margin-left: 10px;
}

.follower-info p {
    font-size: 12px;
}

.level {
    width: 71px !important;
}

.find-frind-section {
    margin: 20px 0 0 0;
    width: 100%;
}

.find-frind-section div.find-frind-section ul,
.find-frind-section ul li {
    width: 100%;
}

.find-frind-section ul li {
    margin: 8px 0;
}

.find-frind-section ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #BCC1FF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.find-frind-section ul li a p {
    font-size: 12px;
    font-weight: 500;
}

.find-frind-section ul li a button {
    border: 1px solid #7983FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.find-frind-section ul li a button img {
    width: 16px;
    height: 16px;
}

.w-100 {
    width: 100%;
}

.Terms {
    width: 100%;
    padding: 16px;
    border: 1px solid #BCC1FF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle h4 {
    font-size: 14px;
    font-weight: 500;
}

.toggle input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle label {
    width: 48px;
    height: 25px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 1px solid #7983FF;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 3px;
}

.toggle span {
    width: 17px;
    height: 17px;
    background: #7983FF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

#toggle:checked+label span {
    transform: translateX(23px);
    -webkit-transform: translateX(23px);
    -moz-transform: translateX(23px);
    -ms-transform: translateX(23px);
    -o-transform: translateX(23px);
    background-color: #fff;
}

#toggle:checked+label {
    background-color: #7983FF;
}

#toggle2:checked+label span {
    transform: translateX(23px);
    -webkit-transform: translateX(23px);
    -moz-transform: translateX(23px);
    -ms-transform: translateX(23px);
    -o-transform: translateX(23px);
    background-color: #fff;
}

#toggle2:checked+label {
    background-color: #7983FF;
}

#toggle3:checked+label span {
    transform: translateX(23px);
    -webkit-transform: translateX(23px);
    -moz-transform: translateX(23px);
    -ms-transform: translateX(23px);
    -o-transform: translateX(23px);
    background-color: #fff;
}

#toggle3:checked+label {
    background-color: #7983FF;
}

.notif-section,
.notif-section ul {
    width: 100%;
}

.notif-section ul li {
    margin: 10px 0;
    border: 1px solid #BCC1FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notif-section ul li p {
    color: #7983FF;
    font-size: 12px;
    font-weight: 500;
}

.points-list,
.points-list ul {
    width: 100%;
}

.points-list ul li {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 0;
    background-color: #fff;
    padding: 16px 16px 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.point-details p {
    font-size: 14px;
    font-weight: 500;
}

.point-details div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.point-details img {
    width: 16px;
    height: 16px;
}

.point-details span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    color: #3D4280;
}

.point-sec>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #DEE0FF;
}

.point-sec img {
    width: 24px;
    height: 24px;
}

.point-sec span {
    position: absolute;
    bottom: -13px;
    padding: 3px 6px;
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}

.winner-name {
    font-size: 14px;
    font-weight: 500;
}

.winner-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.winner-info img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    max-width: none;
    object-fit: cover;
}

.winner-info>div {
    margin-left: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.winner-symbol {
    width: 24px;
    height: 24px;
    max-width: none;
}

.winner-info>div .level {
    width: auto !important;
    background: #BCC1FF;
}

.winner-info>div .level span {
    display: flex;
    align-items: center;
    width: 54px
}

.winner-info>div .level img {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}

.winner-info>div .level p {
    padding-right: 5px;
}

.align-items-end {
    align-items: flex-end !important;
}

.Challange-point,
.Challange-point ul,
.Challange-point ul li {
    width: 100%;
}

.Challange-point ul li {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    margin: 8px 0;
}

.challange-point-details h3 {
    font-size: 14px;
    font-weight: 500;
}

.challange-point-details>div {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    justify-content: space-between;
}

.company {
    display: flex;
    align-items: center;
}

.company img {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.company p {
    margin-left: 5px;
    font-size: 12px;
}

.date-section {
    display: flex;
    align-items: center;
}

.date-section img {
    width: 16px;
    height: 16px;
}

.date-section span {
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-left: 8px;
    color: #3D4280;
}

.challange-point-section {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.Super-cup,
.Super-cup ul,
.Super-cup ul li,
.Freelance-project-List,
.Freelance-project-List ul,
.Freelance-project-List ul li {
    width: 100%;
}

.Super-cup ul li,
.Freelance-project-List ul li {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    margin: 8px 0;

}

@media screen and (min-width:1000px) {
    .Super-cup ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .Super-cup ul li {
        width: 31%;
        margin: 10px 10px;
    }
}

.edit-parent p {
    font-size: 14px;
    font-weight: 500;
}

.edit-parent div {
    display: flex;
    align-items: center;
}

.edit-parent>div img {
    width: 16px;
    height: 16px;
}

.edit-parent span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    color: #3D4280;
}

.c-dark {
    color: #3D4280;
}

.Certificate-List,
.Certificate-List ul,
.Certificate-List ul li,
.Place-bid,
.Place-bid>div,
.Projects-detail-section,
.Projects-detail-section>div,
.project-list-parent,
.project-list-parent ul,
.project-list-parent ul li {
    width: 100%;
}

.Certificate-List ul li,
.Transaction-list ul li,
.Place-bid>div,
.Projects-detail-section>div,
.project-list-parent ul li,
.profile-box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    margin: 8px 0;

}

@media screen and (min-width:1024px) {

    .project-list-parent ul,
    .Challange-point ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-list-parent ul li,
    .Challange-point ul li {
        max-width: 31%;
        margin: 10px 10px;
    }
}


.Certificate-details h4 {
    font-size: 14px;
    font-weight: 500;
}

.Certificate-details p {
    font-size: 12px;
    margin-top: 10px 0;
}

.Certificate-date {
    margin: 10px 0;
}

.Certificate-bottom-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score {
    display: flex;
    align-items: center;
}

.score p {
    font-size: 12px;
}

.score span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    color: #fff;
    font-size: 12px;
    padding: 6px 16px;
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.Certificate-bottom-section>div {
    display: flex;
}

.Certificate-bottom-section button {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.Certificate-bottom-section button img {
    width: 16px;
    height: 16px;
}

.share {
    background-color: transparent;
    border: 1px solid #7983FF;
}

.download {
    background-color: #7983FF;
    border: none;
}

.pagination {
    width: 100%;
    height: 100px;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    background-color: #F7F8FF;
}

.pagination ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7983FF;
    color: #7983FF;
}

.pagination ul li button img {
    width: 16px;
    height: 16px;
}

.pagination ul li.active button {
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    color: #fff;
}

.Transaction-list,
.Transaction-list ul,
.Transaction-list ul li,
.profile-box,
.Transaction-list {
    width: 100%;
}

.price-sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.price-sec>span {
    color: #F05D74;
    font-size: 16px;
    font-weight: 500;
}

.Subscription-type {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Subscription-type>div {
    width: 48%;
    padding: 35px 0;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Subscription-type h1 {
    color: #7983FF;
    font-size: 32px;
    font-weight: bold;
}

.Subscription-type h1 sub {
    color: #7983FF;
    font-size: 16px;
    font-weight: bold;
}

.Subscription-type span {
    color: #3D4280;
    font-size: 12px;
    text-align: center;
    display: block;
    width: 100%;
}

.Subscription-type ul {
    margin: 40px 0;
}

.Subscription-type ul li {
    font-size: 14px;
    margin: 10px 0;
}

.Subscription-type button {
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
    font-size: 11px;
    border: none;
}

.user-name h2 {
    color: #252525;
}

.Freelance-project-List p {
    font-size: 12px;
}

.project-description {
    margin: 10px 0 30px 0;
}

.project-detals {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-detals div {
    display: flex;
    align-items: center;
}

.project-detals div span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 54px;
    height: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

.project-price span {
    background-color: #3D4280;
}

.Delivery span {
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
}

.Place-bid h2 {
    font-size: 16px;
    font-weight: bold;
}

.Place-bid .warning img {
    width: 16px;
    height: 16px;
}

.warning {
    margin: 10px 0;
    align-items: flex-start;
}

.Place-bid label {
    font-size: 14px;
    font-weight: 500;
    color: #3D4280;
    margin: 12px 0;
    display: block;
}

.project-info div {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #BCC1FF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    color: #BCC1FF;
    font-size: 12px;
}

.project-info div img {
    width: 16px;
    height: 16px;
}

.project-info {
    margin: 20px 0;
}

.project-info textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #BCC1FF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px;
}

.place-btn,
.next {
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.place-btn button {
    background-color: #252525;
    padding: 13px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
}

#border-btn {
    background-color: transparent;
    padding: 13px 20px;
    border: 1px solid #252525;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252525;
    font-size: 12px;

}

.Proposals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Proposals span:first-child {
    padding: 10px 16px;
    height: 36px;
    border: 1px solid #7983FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7983FF;
    font-size: 12px;
}

.Proposals span:last-child {
    padding: 6px 12px;
    height: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
}

.Proposals p {
    font-size: 12px;
}

.Projects-name {
    margin: 25px 0;
}

.Projects-name h1 {
    font-size: 16px;
    font-weight: bold;
}

.Projects-name p {
    font-size: 12px;
    font-weight: 500;
}

.project-discuss {
    margin: 20px 0;
}

.project-tags {
    width: 100%;
}

.project-tags div {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.project-tags span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    background-color: #EFF0FF;
    color: #252525;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.Budget>div>span {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
    background-color: #3D4280;
    margin-top: 10px;
}

.Budget {
    margin: 25px 0 35px 0;
}

.next button {
    background-color: #252525;
    padding: 16px 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
}

.Requests {
    margin-top: 40px;
    width: 100%;
}

.Requests h2 {
    font-size: 16px;
    font-weight: bold;
}

.req-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.req-head span {
    font-size: 14px;
    font-weight: 500;
    color: #7983FF;
}

.price-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    background-color: #3D4280;
    margin-top: 10px;

}

.justify-content-between {
    justify-content: space-between;
}

.outline-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.outline-btn button {
    background-color: transparent;
    padding: 13px 20px;
    border: 1px solid #252525;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252525;
    font-size: 12px;
    width: 47%;
}

.status {
    padding: 2px 12px;
    height: 36px;
    border: 1px solid #7983FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7983FF !important;
    font-size: 12px;
    background: transparent !important;
}

.bg-white {
    background-color: #fff !important;
    border: none !important;
}

.label {
    color: #3D4280;
    font-size: 14px;
    font-weight: 500;
}

.h-10 {
    height: 10px !important;
}

.project-list-parent h3 {
    font-size: 16px;
    font-weight: bold;
}

.project-list-parent p {
    font-size: 12px;
}

.project-list-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project-list-details span {
    padding: 6px 12px;
    height: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    margin-bottom: 10px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-2 {
    margin-top: 20px;
}

.select-menu {
    width: 110px;
}

.select-menu .select-btn {
    display: flex;
    background: transparent;
    padding: 8px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #7983FF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #7983FF;
}

.select-menu .options {
    position: absolute;
    width: 110px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    justify-content: flex-start;
}

.select-menu .options .option:hover {
    background: #f2f2f2;
}

.select-menu .options .option i {
    font-size: 25px;
    margin-right: 12px;
}

.select-menu .options .option .option-text {
    font-size: 12px;
    color: var(--dark);
}

.select-btn i {
    font-size: 14px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

.reject {
    background: #F05D74 !important;
}

.req-number {
    display: flex;
    align-items: center;
}

.req-number>div {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    background: #EFF0FF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #3D4280;
    font-weight: 500;
}

.done {
    background: #4EC399 !important;
}

.w-auto {
    width: auto !important;
}

.user-profile-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    padding: 0 10px;
}

.user-profile-details>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-details span {
    font-size: 16px;
    font-weight: 500;
}

.user-profile-details p {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
}

.profile-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #7983FF;
    color: #7983FF;
    height: 43px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #7983FF;
    color: #7983FF;
    height: 43px;
    width: 43px;
}

.Achievements {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: 20px 0;

}

.Achievements-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Achievements h3 {
    color: #3D4280;
    font-size: 14px;
    font-weight: 500;
}

.Achievements-items {
    margin: 20px 0;
    width: 100%;
}

.Achievements-items>div {
    width: 100%;
    border: 1px solid #DEE0FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding-right: 10px;
    margin: 8px 0;
    height: 36px;
    overflow: hidden;
    justify-content: space-between;
}

.Achievements-items>div img {
    width: 20px;
}

.Achievements-details {
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    -ms-border-radius: 0px 6px 6px 0px;
    -o-border-radius: 0px 6px 6px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
    height: 100%;
    color: #fff;
    font-size: 12px;
}

.Achievements-more-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Achievements-more-btn button {
    display: flex;
    align-items: center;
    color: #7983FF;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.Achievements-more-btn button img {
    width: 20px;
    display: inline-block;
    margin-left: 5px;
}

.user-count {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count-box {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.count-box img {
    width: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.count-box span {
    display: inline-flex;
    padding: 3px 6px;
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: -13px;
}


.number {
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.number div p {
    font-size: 12px;
    font-weight: 400;
}

.number div span {
    display: inline-block;
    margin: 6px 0;
    font-size: 12px;
    font-weight: 400;
}

.conection-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.conection {
    width: 13px;
    height: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: var(--border);
}

.conection.active {
    background-color: var(--active);
}

.conection-parent span {
    font-size: 12px;
    margin: 3px 0;
    display: inline-block;
}

.border-none {
    border: none !important;
}

.Transaction-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Transaction-list span {
    font-size: 18px;
    font-weight: bold;
}

.Transaction-list p {
    font-size: 12px;
    color: #7983FF;
    margin-top: 6px;
}

.Transaction-list button {
    background-color: #252525;
    padding: 16px 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
}

.profile-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.profile-heading h3 {
    font-size: 16px;
    font-weight: bold;
}

.profile-heading div {
    display: flex;
    align-items: center;
}

.profile-heading p {
    font-size: 12px;
    color: #7983FF;
}

.profile-heading span {
    background: #7983FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 8px;
}

.profile-heading img {
    width: 16px;
    height: 16px;
}

.content-item {
    width: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #fff;
    min-height: 312px;
    overflow: hidden;
    padding: 20px 0;
    margin: 10px 0;
}

@media screen and (min-width:1000px) {
    .content-item {
        width: 31%;
        margin: 10px;
    }

    .content-item>.container {
        padding: 0 20px !important;
    }
}

.content-child {
    width: 100%;
    height: auto;
    position: relative;
    min-height: 280px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
}

.text-content {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 100%;
    background-color: #EFF0FF;
    padding: 16px;
    position: absolute;
    z-index: 5;
    bottom: 0;
}

.content-head-text {
    width: 100%;
    margin-bottom: 27px;
}

.content-head-text p {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark);
}

.content-head-text span {
    font-size: 12px;
    font-weight: normal;
    color: var(--dark);
}

.content-item-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-date {
    display: flex;
    align-items: center;
}

.content-date img {
    width: 20px;
}

.content-date span {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
}

.like {
    display: flex;
    align-items: center;
}

.like span {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
}

.like img {
    width: 20px;
}

.video-wrapper {
    width: 100%;
    position: relative;
    height: 192px;
}

.video-wrapper video {
    display: none;
}

.edit-btn,
.play-btn {
    position: absolute;
}

.play-btn {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.edit-btn {
    right: 16px;
    top: 16px;
}

.edit-btn button {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F7F8FF;
}

.content-child::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3d428028;
    width: 100%;
    height: 100%;
}

.add-btn-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-small {
    min-width: 50px;
}


.btn-day {
    font-family: 'Open Sans';
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
    outline: 0;
    border-radius: 10px;
    transition: 0.4s all;
}

.btn-day.active {
    color: #FFF;
    font-weight: 600;
    z-index: 99;
}

.btn-day.active::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: #7983FF;
    border-radius: 10px;
    z-index: -1;
}

.text-field {
    padding: 10px;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 0px 10px 0 0;
}

.title {
    font-size: 1.3em;
}

.subtitle {
    font-size: 1.1em;
}

/* Calendar */
.calendar-assets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#currentDate {
    text-align: center;
    font-size: 20px;
}

.field {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 20px 0;
}

.field label {
    margin: 2px;
}

.form-input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.day-assets {
    display: flex;
    justify-content: space-between;
    width: 324px;
}



.day-assets .btn:nth-child(2) i {
    padding: 0 10px 0 0 !important;
}

.calender-box {
    border-radius: 18px;
    background: #ffffff;
    user-select: none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.calendar {
    height: 350px;
    width: 100%;
    border-radius: 18px;
    background: #ffffff;
    padding: 10px;
    user-select: none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px 18px 0px 0px;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: #262626;
}

.month {
    font-size: 1em;
}

.icon {
    padding: 10px;
    font-size: 1em;
    margin: 0 0 0 5px;
    background: #ffffff;
    color: #455af7;
    border: none;
    cursor: pointer;
    outline: 0;
}

.icon:hover {
    cursor: pointer;
}

#calendar {
    width: 100%;
}

.weekends th {
    font-size: 1em;
    color: gray;
    font-weight: 400;
    width: 40px;
    margin: 10px 0;
}

#calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3px;
}

#calendar td {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}

.event {
    padding: 20px 0;
    width: 90%;
    border-top: 1px solid #BCC1FF;
    margin: 0 auto;
}

.event div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.event p,
.event span {
    font-size: 12px;
}

.event img {
    width: 24px;
    height: 24px;
}

.peaple button {
    width: 31% !important;
}

.p-3 {
    padding: 40px 20px;
}

.team-status {
    background: linear-gradient(97.28deg, #7983FF 4.64%, #B388EB 96.49%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    width: 170px;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.team-status p {
    font-size: 12px;
}

.team-status span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.team-status img {
    width: 24px;
    height: 24px;
}

.legend {
    margin: 35px 0 25px 0;
    font-size: 16px;
    font-weight: bold;
}

.setting-items {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 15px;
    border: none;
    outline: none;
    margin-top: 6px;
}

.setting-items p {
    color: #7983FF;
    font-size: 12px;
}

.setting-items>span {
    width: 34px;
    height: 34px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid #7983FF;
    color: #7983FF;
}

.share-box {
    width: 100%;
    background-color: #fff;
    margin-top: 6px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.setting-items button {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.setting-items button img {
    width: 16px;
    height: 16px;
}

.share {
    background: #7983FF;
    border: none;
}

.copy {
    background: transparent;
    border: 1px solid #7983FF;
}

.bg-transparent {
    background-color: transparent !important;
    justify-content: space-between !important;
}