.search-box input {
    margin-right: 10px;
}

.notification-btns button:first-child {
    margin-left: 20px;
}

.user-name {
    margin-right: 15px;
}

.course-details-section div {
    margin-right: 10px;
}

.chalange-name {
    margin-right: 15px;
}

.warning p {
    margin-right: 7px;
}

.level {
    padding-left: 0;
    padding-right: 5px;
}

.section>.container:last-of-type {
    padding: 0 20px;
}

.off-time img {
    margin-right: 0;
    margin-left: 10px;
}

.gift img {
    margin-right: 0;
    margin-left: 5px;
}

.navigation-list li img {
    width: 20px;
    display: inline-block;
    margin-left: 5px;
}

.Achievements-items>div {
    padding-left: 10px;
    padding-right: 0;
}

.team-detals {
    margin-right: 10px;
    margin-left: 0;
}

@media screen and (min-width: 1000px) {
    .section>.container:last-of-type {
        padding: 0 100px 0 80px;
    }
}

.back {
    margin: 10px;
    margin-left: 10px;
}

.select select {
    background-image: url(../img/Stroke/fi-rr-angle-small-down.svg);
    background-position: calc(100% - 98%) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1000px) {
    .category ul li img {
        display: inline-block;
        margin-left: 20px;
        margin-right: 0;
    }
}

.course-conetnt ul li:last-child {
    margin-right: 20px;
    margin-left: 0;
}

.content-date span {
    margin-left: 0;
    margin-right: 10px;
}

.like span {
    margin-left: 10px;
    margin-right: 0;
}

.user-details div {
    margin-right: 10px;
    margin-left: 0;
}

.lesson-info div p {
    margin-left: 0;
    margin-right: 3px;
}

.rate img {
    margin-left: 3px;
    margin-right: 0;
}

.price del {
    margin-left: 6px;
    margin-right: 0;
}

.user-detail-info {
    margin-right: 15px;
    margin-left: 0;
}

.user-detail-info img {
    margin-right: 10px;
    margin-left: 0;
}

.numbers span {
    margin-right: 8px;
    margin-left: 0;
}

.add-question {
    bottom: 134px;
    left: 20px !important;
    right: auto;
}

.undo {
    margin-left: 0;
    margin-right: 12px;
}

.controls {
    padding-left: 10px;
    padding-right: 0;
}

.avatars span {
    margin-left: 15px;
    margin-right: 0;
}

.accordion-header h4::before,
.lesson-title::before {
    margin-right: 0;
    margin-left: 10px;
}

.category-list>div {
    padding-right: 0;
    padding-left: 8px;
}

.result-count div span {
    margin-left: 0;
    margin-right: 16px;
}

.download-btn {
    margin-left: 0;
    margin-right: 5px;
}

.alert p {
    margin-left: 0;
    margin-right: 6px;
}

.modal-btns button:first-child {
    margin-right: 0;
    margin-left: 10px;
}

.media-login button img {
    margin-right: 0;
    margin-left: 10px;
}

.course-subject-list::before {
    left: auto;
    right: 15px;
}

@media screen and (min-width: 1000px) {
    .course-subject-list li::before {
        transform: translate(50px, 55px);
        -webkit-transform: translate(50px, 55px);
        -moz-transform: translate(50px, 55px);
        -ms-transform: translate(50px, 55px);
        -o-transform: translate(50px, 55px);
    }

    .course-subject-list::before {
        right: 0;
    }
}

.warning img {
    margin-right: 0;
    margin-left: 8px;
}

.teacher p {
    margin-left: 0;
    margin-right: 8px;
}

.winner-info>div {
    margin-left: 0;
    margin-right: 16px;
}

.btn-content {
    text-align: left !important;
}

#toggle:checked+span {
    transform: translateX(-23px) !important;
    -webkit-transform: translateX(-23px) !important;
    -moz-transform: translateX(-23px) !important;
    -ms-transform: translateX(-23px) !important;
    -o-transform: translateX(-23px) !important;
}

.send-btn {
    margin-left: 0;
    margin-right: 5px;
}

.level p {
    padding-right: 0;
    padding-left: 5px;
}

.dark img {
    margin-right: 0;
    margin-left: 6px;
}

.light {
    margin-left: 0;
    margin-right: 10px;
}

.name p img {
    margin-right: 0;
    margin-left: 3px;
}

.add-question img {
    margin-right: 0;
    margin-left: 8px;
}

.clip-btn {
    margin-right: 0;
    margin-left: 8px;
}

.course-conetnt ul li:not(:first-child) {
    margin-left: 0;
    margin-right: 15px;
}

.point-details span {
    margin-left: 0;
    margin-right: 8px;
}

.date-section span {
    margin-left: 0;
    margin-right: 8px;
}

.score span {
    margin-left: 0;
    margin-right: 8px;
}

.company p {
    margin-left: 0;
    margin-right: 5px;
}

.follower-info div {
    margin-left: 0;
    margin-right: 10px;
}

.project-detals div span {
    margin-left: 0;
    margin-right: 10px;
}

.req-number>div {
    margin-left: 0;
    margin-right: 10px;
}

#toggle:checked+label span {
    transform: translateX(-23px);
    -webkit-transform: translateX(-23px);
    -moz-transform: translateX(-23px);
    -ms-transform: translateX(-23px);
    -o-transform: translateX(-23px);
    background-color: #fff;
}

#toggle2:checked+label span {
    transform: translateX(-23px);
    -webkit-transform: translateX(-23px);
    -moz-transform: translateX(-23px);
    -ms-transform: translateX(-23px);
    -o-transform: translateX(-23px);
    background-color: #fff;
}

#toggle2:checked+label {
    background-color: #7983FF;
}

#toggle3:checked+label span {
    transform: translateX(-23px);
    -webkit-transform: translateX(-23px);
    -moz-transform: translateX(-23px);
    -ms-transform: translateX(-23px);
    -o-transform: translateX(-23px);
    background-color: #fff;
}

#toggle3:checked+label {
    background-color: #7983FF;
}

.edit-parent span {
    margin-left: 0;
    margin-right: 8px;
}

.profile-heading span {
    margin-left: 0;
    margin-right: 8px;
}

.time {
    margin-left: 0;
    margin-right: 25px;
}

.teacher-info span {
    margin-left: 0;
    margin-right: 10px;
}

.time span {
    margin-left: 0;
    margin-right: 10px;
}

@media only screen and (min-width: 1024px) {
    .inner-side {
        position: fixed;
        right: 0;
        left: auto;
        top: 0;
        width: 400px;
        height: 100%;
        background-color: #7983FF;
        overflow: hidden;
        padding: 50px 70px;
    }

    .navigation ul li a img {
        margin-left: 8px;
    }

    .navigation ul li a {
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        padding: 0 100px 0 30px;
    }
}

@media screen and (min-width: 1000px) {
    .profile>.container {
        padding: 0 100px 0 20px !important;
    }

    .section>.container:last-of-type {
        padding: 0 80px 0 20px;
    }
    .modal-parent{
        padding: 30px 0 !important;
    }
    .payment-details {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .modal {
        height: 95%;
        overflow-y: auto;
    }
    .modal::-webkit-scrollbar {
        width: 5px;
        overflow: hidden;
      }
      .modal::-webkit-scrollbar-track {
        /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
        background-color: #ccc;
      }
       
      .modal::-webkit-scrollbar-thumb {
        background-color: #7983FF;
      }
}

.ql-editor {
    direction: rtl !important;
    text-align: right !important;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    position: absolute;
    margin-top: -9px;
    right: auto !important;
    top: 50%;
    width: 18px;
}

.white_svg
{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}
.black_svg
{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    padding: 10%;
}
.blog-list li>div div {
    margin-right: 12px;
}
.plan-item p {
    font-size: 13px !important;
    width: 100% !important;
    text-align: right !important;
}
.item-details {
    margin: 30px 0 0 0;
    text-align: right;
}
.main-section>div {
    width: 50%;
    height: 100%;
    padding: 120px 100px 0 0;
}
.language-selector__container label:after {
    content: "";
    left: 40px;
    right: auto;
    top: 17px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 5px solid #000000;
    z-index: 100;
}
.plan-item ul li i {
    margin-left: 5px;
    color: #14cc58;
}
.list-parent::after {
    content: "";
    pointer-events: none;
    width: 0;
    height: 0;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 5px solid #fff;
    margin-right: 10px;
}
.create-account button::before {
    content: 'ساخت حساب کاربری';
    width: 80%;
    height: 55px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.277);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.big-section button::before {
    content: 'امتحان کنید';
    width: 40%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.277);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
@media screen and (max-width: 768px){
.dark-section,.light-section {
    width: 100% !important;
    padding: 50px 0 50px 0 !important;
}
.dark-section{
    padding: 50px !important;
}
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}