@import url(./global.css);

.tab-container {
    width: 100%;
}

.tab {
    width: 100%;
}

.tab ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.tab ul li {
    font-size: 11px;
    color: var(--dark);
    padding: 8px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: transparent;
}
.tab ul li.active a{
    color: var(--dark);
}

.tab ul li.active {
    background-color: var(--primary);
    color: #fff;
}
.tab ul li.active a{
    font-size: 11px;
    color: #fff;
}
@media screen and (min-width:1000px){
    .tab ul li {
        font-size: 14px;
        padding: 16px 24px;
        width: 25%;
        text-align: center;
    }
    .tab ul li.active a{
        font-size: 14px;
    }
    
}

.category-content {
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
    height: 62px;
}
.category {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    height: 50px;
    width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.category.active {
    opacity: 1;
    visibility: visible;
}

.category ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.category ul li {
    width: 116px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--border);
    color: var(--dark);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.category ul li a{
    color: var(--dark);
}
.category ul li.active {
    background-color: #BCC1FF;
    height: 65px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.category ul li.active a{
        font-size: 12px;

    color: var(--dark);
}
.category ul li img{
    display: none;
}
@media screen and (min-width:1000px){
    .category ul li{
        width: 32%;
    }
    .category ul li,.category ul li.active a {
        font-size: 14px;
    }
    .category ul li img{
        display: inline-block;
        margin-right: 20px;
    }
    
}

.course-name-content {
    width: 100%;
    position: relative;
    height: 64px;
    left: 0;
    overflow-x: hidden;
}
.course-name-tab {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    height: 64px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    width: 100%;
}

.course-name-tab.active {
    opacity: 1;
    visibility: visible;
}

.course-name-tab ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #BCC1FF;
    height: 64px;
    border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;
}

.course-name-tab ul li {
    font-size: 12px;
    color: var(--dark);
    width: 60px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-name-tab ul li.active {
    color: #fff;
    background-color: var(--active);
}
@media screen and (min-width:1000px){
    .course-name-tab ul li {

        width: 100px;
    }
}
.course-name-tab ul li.active {
    color: #fff;
    background-color: var(--active);
}

.courses {
    position: relative;
    width: 100%;
    margin: 20px 0;
    height: 30px;
}

.course-conetnt {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.course-conetnt.active {
    opacity: 1;
    visibility: visible;
}

.course-conetnt ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.course-conetnt ul li {
    padding-bottom: 5px;
    font-size: 16px;
    color: var(--active);
    font-weight: normal;
    border-bottom: 1px solid transparent;
}

.course-conetnt ul li:last-child {
    margin-left: 20px;
}

.course-conetnt ul li.active {
    color: var(--active);
    font-weight: bold;
    border-bottom-color: var(--active);
}

.main-content{
    overflow-y: hidden;
    width: 100%;
}
.content-course{
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}

@media screen and (min-width:1000px){
    .item {
        width: 31%;
        margin: 10px;
    }
}

.course-item img {
    height: 100%;
    object-fit: cover;
}

.course-details {
    width: 90%;

    margin-left: 10px;
}

.category-title {
    color: #3D4280;
    font-size: 12px;
}

.title {
    color: var(--dark);
    font-weight: 500;
    font-size: 13px;
    margin: 0 0 20px 0;
    width: 80%;
}

.lesson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lesson p {
    font-size: 12px;
    color: var(--dark);
}

.lesson span {
    width: 47px;
    height: 22px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--border);
    color: #3D4280;
    font-size: 12px;
}

.progress {
    width: 100%;
    height: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    background-color: var(--border);
}

.bar {
    width: 34%;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--active);
    position: relative;
}

.persentage {
    position: absolute;
    left: 34%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #fff;
    font-size: 12px;
}

.progerss-persentage {
    margin: 10px 0;
}

.column {
    flex-direction: column;
}
.img{
    max-width: none;
    width: 60px;
    height: auto;
    object-fit: cover;
}
.course-details-section{
    display: flex;
    align-items: flex-start;
}
.course-details-section div{
    margin-left: 10px;
}