@import url(./global.css);

.tab-container {
    width: 100%;
}

.tab {
    width: 100%;
}

.tab ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.tab ul li {
    font-size: 11px;
    color: var(--dark);
    padding: 8px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: transparent;
}
.tab ul li.active a{
    color: var(--dark);
}

.tab ul li.active {
    background-color: var(--primary);
    color: #fff;
}
.tab ul li.active a{
    font-size: 11px;
    color: #fff;
}
@media screen and (min-width:1000px){
    .tab ul li {
        font-size: 14px;
        padding: 16px 24px;
        width: 25%;
        text-align: center;
    }
    .tab ul li.active a{
        font-size: 14px;
    }
    
}


.category-content {
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
    height: 62px;
}
.category {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    height: 50px;
    width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.category.active {
    opacity: 1;
    visibility: visible;
}

.category ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.category ul li {
    width: 116px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--border);
    color: var(--dark);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.category ul li a{
    color: var(--dark);
}
.category ul li.active {
    background-color: #BCC1FF;
    height: 65px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.category ul li.active a{
        font-size: 12px;

    color: var(--dark);
}
@media screen and (min-width:1000px){
    .category ul li{
        width: 32%;
    }
    .category ul li,.category ul li.active a {
        font-size: 14px;
    }
    .category ul li img{
        display: inline-block;
        margin-right: 20px;
    }
    
}

.course-name-content {
    width: 100%;
    position: relative;
    height: 64px;
    left: 0;
    overflow-x: hidden;
}
.course-name-tab {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    height: 64px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    width: 100%;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    scrollbar-width: 0;

}
.course-name-tab.active {
    opacity: 1;
    visibility: visible;
}

.course-name-tab ul {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #BCC1FF;
    height: 64px;
    border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;
}

.course-name-tab ul li {
    font-size: 12px;
    color: var(--dark);
    width: 65px !important;
    padding: 0 10px !important;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:1000px){
    .course-name-tab ul li {
        width: 100px;
    }
    
}
.course-name-tab ul li.active {
    color: #fff;
    background-color: var(--active);
}

.courses {
    position: relative;
    width: 100%;
    margin: 20px 0;
    height: 30px;
}

.course-conetnt {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.course-conetnt.active {
    opacity: 1;
    visibility: visible;
}

.course-conetnt ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.course-conetnt ul li {
    padding-bottom: 5px;
    font-size: 16px;
    color: var(--active);
    border-bottom: 1px solid transparent;
}

.course-conetnt ul li:last-child {
    margin-left: 20px;
}

.course-conetnt ul li.active {
    color: var(--active);
    font-weight: bold;
    border-bottom-color: var(--active);
}

.main-content{
    overflow-y: hidden;
    width: 100%;
}
.content-parent{
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.content-item{
    width: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #fff;
    min-height: 312px;
    overflow: hidden;
    padding: 20px 0;
    margin: 10px 0;
}
@media screen and (min-width:1000px){
    .content-item{
        width: 31%;
        margin: 10px;
    }
    .content-item >.container{
        padding: 0 20px !important;
    }
}
.content-child{
    width: 100%;
    height: auto;
    position: relative;
    min-height: 280px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
}
.text-content{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 100%;
    background-color: #EFF0FF;
    padding: 16px;
    position: absolute;
    z-index: 5;
    bottom: 0;
}
.content-head-text{
    width: 100%;
    margin-bottom: 27px;
}
.content-head-text p{
    font-size: 14px;
    font-weight: 500;
    color: var(--dark);
}
.content-head-text span{
    font-size: 12px;
    font-weight: normal;
    color: var(--dark);
}
.content-item-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-date{
    display: flex;
    align-items: center;
}
.content-date img{
    width: 20px;
}
.content-date span{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
}
.like{
    display: flex;
    align-items: center;
}
.like span{
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
}
.like img{
    width: 20px;
}
.video-wrapper{
    width: 100%;
    position: relative;
    height: 192px;
}
.video-wrapper video{
    display: none;
}
.edit-btn,.play-btn{
    position: absolute;
}
.play-btn{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.edit-btn {
    right: 16px;
    top: 16px;
}
.edit-btn button{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F7F8FF;
}
.content-child::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3d428028;
    width: 100%;
    height: 100%;
}
.add-btn-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.add-content{
    padding: 13px 20px;
    background-color: var(--dark);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;

}
.add-content img{
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}
.dark-tab ul li{
    color: var(--dark);
}
.dark-tab ul li.active{
    color: var(--dark);
    border-color: var(--dark);
}